<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title is placed in block so it can be overriden on other pages -->
    <title>Twitter Mood</title>

    <!-- including JS, JQuery, and Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
</head>

<body>

<div class="container" style="max-width: 1200px">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 style="font-family: 'Passion One', cursive; font-size: 400%">Twitter Mood</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12">
            <form action="" method="get">
                <input type="hidden" name="submit" value="submit">
                {{ form }}
                <br />
                <input type="submit" value="View graph" class="btn btn-primary">
            </form>
        </div>
    </div>

    <div class="row">
        {% if user_image_url %}
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">

            <br />
            <p style="font-family: 'Passion One', cursive; font-size: 200%;">@{{ twitter_user }}</p>
            <img src="{{user_image_url}}" width="150px" height="150px" style="border-radius: 75px; border-style: solid; border-width: 5px; border-color: #00aced;">
            <br />
            <br />
            <div style="border-style: solid; border-width: 2px; border-color: gray; border-radius: 25px; margin-top: -12px; box-shadow: 5px 5px 5px #888888;">
                <p style="font-family: 'Passion One', cursive; font-size: 200%; margin-bottom: -7px;">Key: </p>
                <p>1 = most positive <br /> 0 = neutral <br /> -1 = most negative</p>
            </div>
        </div>
        <div class="col-sm-4"></div>
        {% endif %}
    </div>

    <div class="row text-center center">
        <div class="col-sm-12 text-center">
            {% if graph_url %}
            <br/>
            <img class="center-block img-responsive" src="{{ graph_url }}" style="size: 80%"/>
            {% endif %}
        </div>
    </div>
</div>



</body>
</html>