<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title is placed in block so it can be overriden on other pages -->
    <title>Movie Heatmap</title>

    <!-- including JS, JQuery, and Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

<div class="container-fluid" align="center">
    <div class="row">
        <div class="col-sm-12">
            <h1>Twitter Movie Mentions Heatmap</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% for movie in now_playing_list %}
            <p>{{movie.title}}</p>
            {% endfor %}
        </div>
        <div class="col-sm-6">
            <p>map goes here</p>
        </div>
    </div>
</div>


</body>
</html>