<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title is placed in block so it can be overriden on other pages -->
    <title>Tweet Mood Over Time</title>

    <!-- including JS, JQuery, and Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
</head>

<body>

<div class="container" style="max-width: 1300px">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 style="font-family: 'Passion One', cursive; font-size: 500%">Tweet Mood Over Time</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12">
            <form action="" method="get">
                <input type="hidden" name="submit" value="submit">
                {{ form }}
                <br />
                <input type="submit" value="View graph" class="btn btn-primary">
                <br />
                <br />
            </form>
            <div class="text-center">
                {% if user_image_url %}
            <img src="{{user_image_url}}" width="150px" height="150px" style="border-radius: 75px; border-style: solid; border-width: 5px; border-color: #00aced;">
            {% endif %}
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if graph_url %}
            <img src="{{ graph_url }}" />
            {% endif %}
        </div>
    </div>
</div>



</body>
</html>